.img_postal{
	background-attachment: fixed !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important; 
	height: 100vh;
	width: 100vW;
}

