.box {
  padding: 50px;
}
.card {
  width: 300px;
  display: block;
  margin: 60px auto;
  box-shadow: 0px 5px 10px 0px #000000c7;
  transition: 0.25s;

  &:hover {
    box-shadow: 0px 5px 20px 0px darken(#101010, 1%);
    cursor: pointer;

    .button-primary {
      transform: translate(10px, 0);
    }
  }
}

.card-header {
  height: 150px;
  width: 100%;
  padding: 15px;
  width: 90%;
  background-size: cover;
  color: #fff;
}

.card-header--title {
  text-transform: uppercase;
  margin: 0;
}

.card-body {
  padding: 15px;
  background-color: #fff;
  width: 90%;
}

.date {
  font-size: 15px;
  font-weight: 600;
  color: grey;
}

.body-content {
  padding-bottom: 40px;
  font-size: 16px;
  line-height: 1.8;
}

.button-primary {
  border: none;
  box-shadow: none;
  font-family: inherit;
  background-color: transparent;
  color: "blue";
  font-size: 15px;
  transition: 0.25s;

  i {
    padding-right: 4px;
  }
}

.designer-link {
  color: #fff;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  display: block;
}

@media (max-width: 400px) {
  .card {
    width: 300px;
    display: block;
    margin: 60px auto;
    box-shadow: 0px 5px 10px 0px #331ba8;
    transition: 0.25s;
  }
}
